header {
  background-image: url("images/netflix.jpg");
  background-repeat: no-repeat;
  background-attachment: none;
  background-size: 100% 650px;
  height: 700px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  border: 1px solid black;
}
body {
  background-color: black;
  color: white;
}
.navbar {
  height: 100px;
  /* background-color: rgba(0, 0, 0, 0.7); */
}
.main {
  background-color: rgba(0, 0, 0, 0.7);
  height: 800px;
}
.logo {
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 40px;
  /* float: left; */
  color: red;
  font-weight: bolder;
  /* transform: scaleX(1.5); */
}
.dropdown {
  float: right;
  margin-top: -2%;
  margin-left: 2%;
  /* margin-right: -14%; */

  /* margin-right: -20%; */
  /* margin-right: -50%; */
  /* margin-right: 10%; */
  height: 20px;
  /* display: inline; */
  background-color: rgba(0, 0, 0, 0.7);
}
#selectLanguage {
  padding-right: 70%;
  height: 40px;
}
.signout {
  float: right;
  margin-left: 2%;
  /* margin-top: 3.5%;
  margin-left: 2%;
  margin-right: 3%; */
  margin-right: 2%;
  background-color: red;
}
.btn {
  /* margin-top: 3.5%;*/
  background-color: red;
}
.welcomescreen {
  margin-left: 29%;
  margin-top: 9%;
  margin-right: 27%;
  /* border: 2px solid white; */
  /* background-color: rgba(0, 0, 0, 0.7); */
}
.welcomeBack {
  font-size: 26px;
  text-align: center;
  font-weight: 500;
}
.heading {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}
.headingtext {
  font-size: 26px;
  text-align: center;
  font-weight: 500;
}
.headingmoretext {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.registeremail {
  margin-top: 2%;
  height: 50px;
  width: 300px;
  font-size: 25px;
  margin-left: 31%;
}
.restartmembership {
  margin-top: -1%;
  text-align: center;
  font-size: 25px;
}
.restartmembership:hover {
  transform: scale(1.1);
}
.onTv {
  display: inline-block;
  background-color: black;
  border: 2px solid white;
  padding-bottom: 2%;
}
.ontvcontentent {
  float: left;
  margin-top: 6%;
  margin-left: 5%;

  display: inline-block;

  width: 45%;
  margin-bottom: 2%;
  /* border: 2px solid white; */
}
.ontvheading {
  margin-top: 3%;
  /* text-align: center; */
  font-size: 45px;
  font-weight: bold;
}
.ontvtext {
  /* text-align: center; */
  font-size: 28px;
  font-weight: 500;
}
.ontvanimation {
  background-image: url("images/tv.png");
  background-repeat: no-repeat;
  background-size: 100% 350px;
  float: right;
  margin-top: 3%;
  margin-right: 5%;
  width: 40%;
  height: 350px;
  /* border: 2px solid white; */
}
.Download {
  width: 100%;
  display: inline-block;
  background-color: black;
  border: 2px solid white;
  padding-bottom: 2%;
}
.Downloadcontent {
  float: right;
  margin-top: 6%;
  margin-right: 5%;

  display: inline-block;
  margin-bottom: 2%;
  width: 45%;
  /* border: 2px solid white; */
}
.Downloadheading {
  margin-top: 3%;
  /* text-align: center; */
  font-size: 45px;
  font-weight: bold;
}
.Downloadtext {
  /* text-align: center; */
  font-size: 28px;
  font-weight: 500;
}
.downloadanimation {
  background-image: url("images/download.jpg");
  background-repeat: no-repeat;
  background-size: 100% 350px;
  float: right;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 2%;
  width: 40%;
  height: 350px;
  /* border: 2px solid white; */
}
.watchEverywhere {
  display: inline-block;
  background-color: black;
  border: 2px solid white;
  padding-bottom: 4%;
}
.watchEverywherecontent {
  float: left;
  margin-top: 6%;
  margin-left: 5%;

  width: 45%;
  display: inline-block;
  margin-bottom: 2%;
  /* border: 2px solid white; */
}
.watchEverywhereheading {
  margin-top: 3%;
  /* text-align: center; */
  font-size: 45px;
  font-weight: bold;
}
.watchEverywheretext {
  /* text-align: center; */
  font-size: 28px;
  font-weight: 500;
}
.watchEverywhereanimation {
  background-image: url("images/watch everywhere.png");
  background-repeat: no-repeat;
  background-size: 100% 350px;
  float: right;
  margin-top: 3%;
  margin-right: 5%;
  width: 40%;
  height: 350px;
  /* border: 2px solid white; */
}
.childrenProfile {
  padding-bottom: 4%;
  display: inline-block;
  /* height: 500px; */
  background-color: black;
  color: white;
  border: 2px solid white;
}
.childrenProfilecontent {
  float: right;
  margin-top: 6%;
  margin-right: 5%;

  display: inline-block;
  margin-bottom: 2%;
  width: 45%;
  /* border: 2px solid white; */
}
.childrenProfileheading {
  margin-top: 3%;
  /* text-align: center; */
  font-size: 45px;
  font-weight: bold;
}
.childrenProfiletext {
  /* text-align: center; */
  font-size: 28px;
  font-weight: 500;
}
.childrenProfileanimation {
  background-image: url("images/children.png");
  background-repeat: no-repeat;
  background-size: 100% 350px;
  float: left;
  margin-top: 3%;
  margin-left: 5%;
  width: 40%;
  height: 350px;
  /* border: 2px solid white; */
}

.faqs {
  display: inline-block;
  height: 800px;
  background-color: black;

  border: 2px solid white;
}
.faqheading {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 50px;
}
.accordion {
  background-color: #51484f;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 60%;
  border: none;
  margin-left: 20%;
  margin-bottom: 0.6%;
  text-align: left;
  outline: none;
  font-size: 22px;

  font-weight: bold;
  transition: 0.4s;
}

.active,
.accordion:hover {
}

.panel {
  padding: 0 18px;
  font-weight: 500;
  margin-left: 20%;
  width: 60%;
  display: none;
  font-size: 22px;
  color: white;

  overflow: hidden;
  margin-bottom: 0.8%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #51484f;
}
footer {
  height: 500px;
  background-color: black;
  border: 5px solid black;
}
.fheading {
  line-height: 5;
  margin-left: 9%;
  margin-bottom: 1%;
}
.f1 {
  float: left;
  margin-left: 9%;
  width: 20%;
  line-height: 2;
}
.f2 {
  float: left;
  margin-left: 3%;
  width: 20%;
  line-height: 2;
}
.f3 {
  float: left;
  margin-left: 3%;
  width: 20%;
  line-height: 2;
}
.f4 {
  float: left;
  line-height: 2;
  margin-left: 3%;
  width: 20%;
}

.dropdown1 {
  /* line-height: 5; */
  margin-left: 9%;
  /* height: 20px; */
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  /* display: block; */
  /* opacity: 0.7; */
}
#selectLanguage1 {
  padding-right: 12%;
  height: 40px;
  color: black;
}
.restartmembershipp {
  margin-top: 1%;
  margin-left: 34%;
  height: 60px;
  width: 30%;
  font-size: 22px;
}
.flast {
  margin-left: 9%;
  line-height: 10;
}

@media screen and (max-width: 999px) {
  body {
    background-color: blue;
  }
  .ontvanimation {
    width: 90%;
  }
  .ontvcontentent {
    width: 90%;
  }
  .childrenProfileanimation {
    width: 90%;
  }
  .childrenProfilecontent {
    width: 90%;
  }
  .downloadanimation {
    width: 90%;
  }
  .Downloadcontent {
    width: 90%;
  }
  .watchEverywhereanimation {
    width: 90%;
  }
  .watchEverywherecontent {
    width: 90%;
  }
  .registeremail {
    height: 50px;
    width: 30%;
    margin-left: 29%;
  }
  .restartmembership {
    width: 18%;
    margin-top: -1%;
  }
  .restartmembershipp {
    margin-left: 34%;
    height: 60px;
    width: 30%;
    font-size: 22px;
  }
  .heading {
    font-size: 40px;
  }
  .headingtext {
    font-size: 22px;
  }
  .headingmoretext {
    font-size: 18px;
  }
}

@media screen and (max-width: 699px) {
  body {
    background-color: purple;
  }
}
.mydark {
  background-color: white;
  color: black;
}
.mainlight {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}
#mode {
  float: left;
  margin-left: 40%;
  border: 2px solid black;
  /* position: absolute; */
  /* margin-right: -40%; */
  /* background-color: black; */
}
/* .mydark {
  background-color: black;
} */
/* .mydark {
  background-color: white;
  color: black;
  /* display: none; */
